<!DOCTYPE html>
<html>
  <head>
    <title>face测试</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>测试一下</h1>
    <p>上传face</p>
    <form id="uface">
      <input type="file" name="files" id="upload" />
      <button type="button" onClick="mergeImg()">submit</button>
    </form>

    <div class="outer">
      <img id="jz" src="/images/jz.png" style="display: none;" />
      <img id="target" src="" style="display: none;" />
      <canvas id="canvas" width="713" height="578"></canvas>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
